@page "/admin"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Admin")]

<h3>Admin Dashboard</h3>
<p>If you can see this, role-based auth works </p>

<div class="d-flex flex-wrap gap-2">
    <a class="btn btn-primary" href="/admin/buildings">
        Manage Buildings
    </a>

    <a class="btn btn-primary" href="/admin/academic-years">
        Manage Academic Years
    </a>

    <a class="btn btn-primary" href="/admin/departments">
        Manage Programs
    </a>
</div>