@page "/admin"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Admin")]

<h3>Admin Dashboard</h3>
<p>If you can see this, role-based auth works </p>

<a class="btn btn-primary" href="/admin/buildings">
    Manage Buildings
</a>